body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #100b42;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
   
  body * {
    box-sizing: border-box;
  }
  
  #calculator {
    width: 75%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  input[type="text"] {
    grid-column: span 4;
    padding: 10px;
    font-size: 24px;
    border: none;
    outline: none;
    text-align: right;
  }
  button {
    width: 100%;
    height: 60px;
    font-size: 18px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #e0e0e0;
  }
  #equal {
    grid-column: span 2;
    background-color: #BA68C8;
    color: #fff;
    border: none;
  }
  #clear {
    grid-column: span 2;
    background-color: #BA68C8;
    color: #fff;
    border: none;
  }
  
  
 .cal{
    width: 25vw;
 }

 @media only screen and (max-width: 950px){
  #calculator{
    width: 85%;
  }

 }

 @media only screen and (max-width: 950px){
  body{
    flex-direction: column;

  }


#calculator{
  width: 90%;
  height: auto;
}


.cal{
  width: 28vh;
}
 }

 

 



  
 